.header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

backdrop-filter:blur(14px);

background:rgba(241,246,244,.82);

border-bottom:1px solid rgba(0,0,0,.05);

}

.navbar{

height:82px;

display:flex;

align-items:center;

justify-content:space-between;

}

.logo{

font-size:28px;

font-weight:700;

color:var(--primary);

}

.nav{

display:flex;

gap:38px;

}

.nav a{

font-weight:500;

transition:var(--transition);

}

.nav a:hover{

color:var(--accent-dark);

}

.header-actions{

display:flex;

gap:18px;

align-items:center;

}

.demo-btn{

padding:14px 26px;

border-radius:999px;

background:var(--primary);

color:white;

transition:var(--transition);

}

.demo-btn:hover{

background:var(--secondary);

}

.menu-btn{

display:none;

font-size:28px;

background:none;

color:var(--primary);

}

@media(max-width:900px){

.menu-btn{

display:block;

}

.demo-btn{

display:none;

}

.nav{

position:absolute;

top:82px;

left:0;

width:100%;

background:var(--background);

display:flex;

flex-direction:column;

padding:30px;

gap:25px;

transform:scaleY(0);

transform-origin:top;

transition:.3s;

}

.nav.active{

transform:scaleY(1);

}

}